<div class="the-course">
  <figure class="img-course">
    <div class="top-info">
      <span>
        <svg class="icon-small">
          <use xlink:href="/assets/images/svg-sprite.svg#student"></use>
        </svg>
        1234</span
      >
      <span>
        <svg class="icon-small">
          <use xlink:href="/assets/images/svg-sprite.svg#teach"></use>
        </svg>
        نیلوفر وفایی</span
      >
    </div>
    <img class="box-shadow" src="./assets/images/course1.png" alt="" />
  </figure>
  <div class="course-des">
    <h4 class="course-title">آموزش دوره طراحی سایت</h4>
    <div class="course-info">
      <span>
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#time-circle-reg"></use>
        </svg>
        7:12:40
      </span>
      <span class="rec-done">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#rec-done"></use>
        </svg>
        تکمیل ضبط
      </span>
    </div>
    <div class="course-show">
      <span class="reg">
        <a href="#"
          >مشاهده اطلاعات دوره

          <svg class="icon arrow">
            <use xlink:href="/assets/images/svg-sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </span>
    </div>

    <div class="register">
      <span class="btn reg-btn"> <a href="#"> ثبت نام </a> </span>
      <div class="course-price">
        <span class="off-price">
          <span class="main-pr"
            >2150
            <span>تومان</span>
          </span>
          <span class="off-pr"
            >1900
            <span>تومان</span>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="the-course">
  <figure class="img-course">
    <div class="top-info">
      <span>
        <svg class="icon-small">
          <use xlink:href="/assets/images/svg-sprite.svg#student"></use>
        </svg>
        1234</span
      >
      <span>
        <svg class="icon-small">
          <use xlink:href="/assets/images/svg-sprite.svg#teach"></use>
        </svg>
        نیلوفر وفایی</span
      >
    </div>
    <img class="box-shadow" src="./assets/images/course1.png" alt="" />
  </figure>
  <div class="course-des">
    <h4 class="course-title">آموزش دوره طراحی سایت</h4>
    <div class="course-info">
      <span>
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#time-circle-reg"></use>
        </svg>
        7:12:40
      </span>
      <span class="recording">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#recording"></use>
        </svg>
        در حال ضبط
      </span>
    </div>
    <div class="course-show">
      <span class="reg">
        <a href="#"
          >مشاهده اطلاعات دوره

          <svg class="icon arrow">
            <use xlink:href="/assets/images/svg-sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </span>
    </div>

    <div class="register">
      <span class="reg-btn registered">
        <a href="#"> دانشجوی این دوره هستید</a>
      </span>
    </div>
  </div>
</div>

<div class="the-course">
  <figure class="img-course">
    <div class="top-info">
      <span>
        <svg class="icon-small">
          <use xlink:href="/assets/images/svg-sprite.svg#student"></use>
        </svg>
        1234</span
      >
      <span>
        <svg class="icon-small">
          <use xlink:href="/assets/images/svg-sprite.svg#teach"></use>
        </svg>
        نیلوفر وفایی</span
      >
    </div>
    <img class="box-shadow" src="./assets/images/course1.png" alt="" />
  </figure>
  <div class="course-des">
    <h4 class="course-title">آموزش دوره طراحی سایت</h4>
    <div class="course-info">
      <span>
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#time-circle-reg"></use>
        </svg>
        7:12:40
      </span>
      <span class="rec-done">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#rec-done"></use>
        </svg>
        تکمیل ضبط
      </span>
    </div>
    <div class="course-show">
      <span class="reg">
        <a href="#"
          >مشاهده اطلاعات دوره

          <svg class="icon arrow">
            <use xlink:href="/assets/images/svg-sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </span>
    </div>

    <div class="register">
      <span class="btn reg-btn"> <a href="#"> ثبت نام </a> </span>
      <div class="course-price">
        <span class="main-price"
          >2150
          <span>تومان</span>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="the-course">
  <figure class="img-course">
    <div class="top-info">
      <span>
        <svg class="icon-small">
          <use xlink:href="/assets/images/svg-sprite.svg#student"></use>
        </svg>
        1234</span
      >
      <span>
        <svg class="icon-small">
          <use xlink:href="/assets/images/svg-sprite.svg#teach"></use>
        </svg>
        نیلوفر وفایی</span
      >
    </div>
    <img class="box-shadow" src="./assets/images/course1.png" alt="" />
  </figure>
  <div class="course-des">
    <h4 class="course-title">آموزش دوره طراحی سایت</h4>
    <div class="course-info">
      <span>
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#time-circle-reg"></use>
        </svg>
        7:12:40
      </span>
      <span class="rec-done">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#rec-done"></use>
        </svg>
        تکمیل ضبط
      </span>
    </div>
    <div class="course-show">
      <span class="reg">
        <a href="#"
          >مشاهده اطلاعات دوره

          <svg class="icon arrow">
            <use xlink:href="/assets/images/svg-sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </span>
    </div>

    <div class="register">
      <span class="btn reg-btn"> <a href="#"> ثبت نام </a> </span>
      <div class="course-price">
        <span class="off-price">
          <span class="main-pr"
            >2150
            <span>تومان</span>
          </span>
          <span class="off-pr"
            >1900
            <span>تومان</span>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
