/* Reset some default styles */
body {
    background-color: var(--color-white);
}

/* Basic styling for the dashboard */
.dashboard-container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
}
.header-dashboard{

    grid-column: 1/13;
    grid-row: 1/2;
}
.dashboard-sidebar {
  grid-column:1 /3;
  grid-row: 2/13;
    padding: 0 20px;
}

.dashboard-content {
    grid-column: 3/13;
    grid-row: 2/13;
    background-color:#f3f4f699;
    border-radius: 0 1.5rem 0 0;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.dashboard-nav ul {
    list-style: none;
}

.dashboard-nav a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    color: var(--color-gray);
    transition: all 0.3 ease-in;
}

.dashboard-nav a:hover {
  color: var(--color-primary);
  margin-right: 0.5rem;

}
.dashboard-nav a.exit:hover {
    color: var(--color-red);
    margin-right: 0.5rem;
  
  }

.dashboard-nav a.active {
    background-color: #c7d2fe6e;
}
.dashboard-nav a.active.exit {
    background-color: #fecdd3;
    color: #f44336;
}

.dashboard-header2{
    color: #fff;
    padding: 20px;
    text-align: center;
}

.dashboard-stats {
    margin-bottom: 30px;
    /* Your styles for dashboard statistics and charts */
}

.dashboard-widgets {
    /* Your styles for dashboard widgets or modules */
}


.menu-item {
    display: flex;
    column-gap: 0.5rem;
    padding:1rem 2rem;
    align-items: center;
   }

.menu-item a {
    color: var(--color-light-gray);
    font-weight: 600;
       }
       .panel-side .panel-menu  .menu-item a:hover {
        color: var(--color-primary);
        font-weight: 600;
           }
       .icon-panel{
        width: 2rem;
        height: 2rem;
       }


       
.panel-head {
    background-color: var(--color-white);
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    padding: 0.7rem 2.5rem;
  }

  .panel-head .nav-logo {
    display: flex   ;
    align-items: center ;
    column-gap: 1rem
       }
       .panel-head .nav-logo h2 {
     font-size: 1.8rem;
     font-weight: 800;
    
    
           }

           .panel-head .nav-logo h2:hover {
           color: var(--color-primary);
           transition: all 0.5 ease-in;
           
                  }
      
      .panel-head .nav-logo img {
        
        width:auto;
        height: 100%;
        border-radius: 100%;
        border: 3px solid var(--color-primary);
    
      }
      
      .content {
        display: none;
      }
      
      .content.active {
        display: block;
      }
