
/*Start Hero*/

.hero .main-hero {
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
}

.hero .main-hero .hero_text {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 -10px;
width: 35%;
row-gap: 10px;
}
.hero .main-hero .hero_text h2 {
font-weight: 900;
font-size: 3.4rem;
}

.hero .main-hero .hero_text h3 {
font-weight: 700;
font-size: 1.75rem;
color: var(--color-body);
}


.hero .main-hero .hero_text .lets {
display: flex;
width: 100%;
}

.lets .btn {
display: block;
padding: 10px 30px;
width: 41%;
text-align: center;
font-size: 2rem;
color: #fff;
}
.lets .btn:hover{
background-color: var(--color-hover);
}

.hero .main-hero .hero_img {
display: flex;
flex-direction: column;
width: 60%;
}
.hero .main-hero .hero_img .shade {
height: 101px;
position: relative;
top: -70px;

z-index: 1;

background: linear-gradient(
rgba(255, 255, 255, 0) 37%,
rgb(244, 245, 247) 93%
);
}
.hero .main-hero .hero_img img {

height: auto;
width: 100%;
}
.hero .main-hero .hero_img svg {
position: absolute;
}

/*End hero*/

/* Start Count section*/
.count-sec {
display: flex;
justify-content: space-evenly;
}
.count-sec .sec-count_item {
height: 161px;
width: 161px;
border: 1px solid var(--color-primary);
border-radius: 15px;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}
.count-sec .sec-count_item .c-item_num {
color: var(--color-primary);
font-weight: 800;
font-size: 3.2rem;
}
.count-sec .sec-count_item .c-item_text {
color: var(--color-primary);
font-weight: 800;
font-size: 2rem;
}

/*End Count Section*/



/*Start Services Box*/
.services {
margin: 20rem 0;
width: 100%;
}

.services-title {
width: 23%;
display: flex;
align-items: center;
column-gap: 1.5rem;
}

.services-title .services-icon {
height: 70px;
width: 70px;
}

.services-title svg {
font-size: 5rem;
background-color: var(--color-primary);
padding: 1rem;
border-radius: 20%;
color: #fff;
}

.services-title h5 {
color: var(--color-headings);
font-size: 3rem;
font-weight: 800;
}

.services-body {
width: 77%;
display: flex;
justify-content: space-between;

}

.services-body .services-box {
display: flex;
flex-wrap: wrap;
padding: 2rem;
background-color: #fff;
width: 31%;
border-radius: 2rem;
border: 1px solid #cbd5e1;
transition: all 0.3s ease-in-out;
}
.services-body .services-box:hover {
transform: scale(1.07) translateZ(0px);
}

.services-box .media {
width: 100%;
font-size: 5rem;
text-align: center;
color: var(--color-primary);
}

.services-box h6 {
width: 100%;
text-align: center;
font-size: 2rem;
color: var(--color-headings);
font-weight: 600;
margin: 1rem 0;
}

.services-box p {
text-align: right;
font-weight: 400;
}
/*End Services Box*/

/*Start Customres Comment*/
.customres {
width: 100%;
margin: 20rem 0;
}

.customres .cus-head {
width: 29%;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}

.customres .cus-head .media {
text-align: center;
height: 70px;
width: 70px;
font-size: 5rem;
background-color: var(--color-primary);
padding: 1rem;
border-radius: 20%;
}

.customres .cus-head h5 {
color: var(--color-headings);
font-size: 3rem;
font-weight: 800;
}

.customres .cus-head p {
font-size: 1.6rem;
font-weight: 500;
margin: 2.5rem 1rem 0;
}

.customres .swiper {
width: 59rem;
height: 34rem;
}

.customres .swiper-slide {
display: flex;
align-items: center;
justify-content: center;
border-radius: 18px;
font-size: 22px;
font-weight: bold;
color: var(--color-headings);
text-align: center;
font-size: 18px;
background: #fff;
flex-wrap: wrap;
}

.customres .swiper-slide h3 {
text-align: right;
padding: 3rem;
font-size: 1.6rem;
font-weight: 900;
}

.customres .swiper-slide p {
font-size: 1.4rem;
font-weight: 400;
color: var(--color-headings);
text-align: right;
padding: 0 2rem 1rem;
height: 13rem;
overflow-y: auto;
}

.border-customer {
max-width: 70%;
margin: 0.7rem auto;
background-color: #e4e4e7;
height: 0.2rem;
}

.customres .swiper-slide .box-cus {
display: flex;
justify-content: space-between;
align-items: center;
font-size: 1.4rem;
}

.swiper-slide .box-cus .info-cus {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 1rem;
width: 62%;
}

.swiper-slide .info-cus .gravatar-cus {
position: relative;
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
flex-shrink: 0;
border-radius: 50%;
overflow: hidden;
box-shadow: rgba(0, 0, 0, 0.25) 0px 1.3px 43px 0px;
border: 2px solid rgb(255, 255, 255);
width: 6.5rem;
height: auto;
}

.swiper-slide .info-cus .gravatar-cus img {
max-width: 100%;
}

.swiper-slide .info-cus .detail-cus {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
margin-right: 1rem;
}

.swiper-slide .detail-cus .name-cus {
width: 75%;
display: flex;
justify-content: space-between;
align-items: center;
}

.swiper-slide .detail-cus .name-cus h6 {
font-size: 1.4rem;
font-weight: 700;
}

.swiper-slide .detail-cus .name-cus span.date-cus {
color: #9597aa;
font-weight: 300;
}

.swiper-slide .detail-cus span.course-cus {
margin-top: 0.7rem;
color: #9597aa;
font-weight: 300;
}

.swiper-slide .detail-cus .course-cus {
}

.swiper-slide .box-cus .rate-cus {
color: #f90;
}

/*End Customres Comment*/

/*start radio box items*/
.radio {
width: 100%;
margin: 20rem 0;
padding: 2rem;
background-color: #fff;
}
.radio_title {
display: flex;
align-items: center;
column-gap: 0.3rem;
justify-content: space-between;
}
.radio_title .right {
display: flex;
align-items: center;
column-gap: 0.3rem;
}
.radio_title h5 {
font-size: 2.8rem;
font-weight: 700;
}
.radio_slide {
width: 100%;
margin: 4rem 0;
display: flex;
justify-content: space-between;
}
.radio_box {
width: 300px;
height: 255px;
border: 1px solid #ddd;
border-radius: 10px;
overflow: hidden;
}
.radio_img img{
width: 100%;
}
.radio_audio{
text-align: center;
width: 100%;
}
.radio_audio audio {
width: 100%;
height: 30px;
}
.radio_content {

}
.radio_content h3 {
color: var(--color-body);
padding: 1rem 1.5rem;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
font-size: 1.4rem;
font-weight: 700;
}
.radio_detail {
padding: 0 1.5rem;
display: flex;
justify-content: space-between;
align-items: center;
}
.radio_detail .category {
display: flex;
justify-content: start;
align-items: center;
column-gap: 0.3rem;
}
.radio_detail span {
font-size: 1.1rem;
font-weight: 500;
}
/*End Radio box */

/* Mobile menu styles */
.mobile-menu-down {
display: none;
z-index: 999;
}

.mobile-menu-down ul {
list-style-type: none;
padding: 0;
display: flex;
justify-content: space-around;
}

.mobile-menu-down li {
padding: 10px;
}

.mobile-menu-down a {
color: #ddd;
text-decoration: none;
}

/* Change link color on hover */
.mobile-menu-down a:hover {
color: var(--color-primary);
}

/*Article of blogs */

.article-blogs {
background-color: var(--color-white);
padding: 2rem;
margin: 20rem 0;
}

.article-blogs .top-blog{
display: flex;
justify-content: space-between;
}
.article-blogs .top-blog h3{
display: flex;
align-items: center;
font-size: 2.8rem;
font-weight: 700;
column-gap: 1rem;
}


.article-blogs .blogs {
display: flex;
column-gap: 4rem;
justify-content: space-between;
margin: 2.5rem 0;
}

.article-blogs .blogs .the-blog {
border: 1px solid #ddd;
border-radius: 10px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;

}
.article-blogs .blogs .the-blog .blog-des{
display: flex;
flex-direction: column;
padding: 2rem;
row-gap: 2rem;

}
.article-blogs .blogs .the-blog .img-sec {
position: relative;
border-bottom: 1px solid #ddd;

}

.article-blogs .blogs .the-blog .img-sec .blog-img{
max-width: 100%;


}
.article-blogs .blogs .the-blog .img-sec .author-img {
width: 70px;
height: 70px;
border-radius: 50px;
position: absolute;
bottom: -30px;
left: 35px;
}

.article-blogs .blogs .the-blog .blog-info {
display: flex;
justify-content: space-between;
background-color: #f4f7fb;
padding: 1rem;
border-radius: 1.5rem;
align-items: center;
margin: 1rem 0;
}
.article-blogs .blogs .the-blog .blog-info span {
display: flex;
justify-content: center;
column-gap: 1rem;
}

.article-blogs .blogs .the-blog a {
position: absolute;
bottom: -3rem;


}

.article-blogs .blogs .the-blog .btn-article{
transition: all 0.5s ease-in-out;
}
.article-blogs .blogs .the-blog .btn-article:hover{
padding: 0.8rem 2rem;
transition: all 0.5s ease-in-out;
}




/* Courses section */
.sec-courses {
background-color: var(--color-white);
display: flex;
row-gap: 4rem;
padding: 2rem;
margin: 5rem 0;
flex-direction: column;
}

.sec-courses .course-head{
display: flex;
justify-content: space-between;
align-items: center;

}
.sec-courses .course-head h3 {
display: flex;
column-gap: 1rem;
align-items: center;
font-weight: 700;
font-size: 2.8rem;
}



.swiper-slide .the-course{
width: 100%;
display: flex;
flex-direction: column;
border: 1px solid #ddd;
border-radius:1.5rem;
transition: all .3s ease-in-out;
}

.swiper-slide .the-course:hover{
box-shadow: 0 0 10px #d1d5db;
border-radius: 1.5rem;
transition: all .3s ease-in-out;
}
.swiper-slide .the-course .img-course {
padding: 0 1rem;
position:relative;
width: 100%;
}
.swiper-slide .the-course .img-course .top-info {
top: -20px;
padding: 0 2.5rem;
width: 90%;
position:absolute;
z-index: 1;
display: flex;
column-gap: 3rem;
justify-content: space-between;
}
.swiper-slide .the-course .img-course .top-info span {
box-shadow: 0 0 10px #d1d5db;
background-color: #fff;
padding: 0.5rem 1rem;
border-radius: 1rem;
display: flex;
column-gap: 0.5rem;
font-size: 1.2rem;
font-weight: 600;
}

.swiper-slide .the-course .img-course .top-info span:hover {
transform: scale(105%);
transition: all .3s ease-in-out;
cursor: default;
}
.swiper-slide .the-course .img-course img{
max-width: 90%;

position: relative;
bottom: 3rem;
}

.swiper-slide .the-course .course-des{
margin-top: -2rem;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.swiper-slide .the-course .course-des .course-title{
padding: 0 1rem;
font-size: 1.6rem;
font-weight: 700;

}

.swiper-slide .the-course .course-des .course-show {
width: 100%;
}


.swiper-slide .the-course .course-des .course-show .reg a{
display: flex;
font-weight: 700;
color: var(--color-body);
border-bottom: 1px solid #ddd;
padding: 1rem 1rem ;
font-size: 1.2rem;
font-weight: 700;
justify-content: flex-start;

}

.swiper-slide .the-course .course-des .course-show .reg a:hover{
color: var(--color-primary);

transition: all .3s ease-in-out;
}
.swiper-slide .the-course .course-des .course-show .reg a .arrow{
transform: rotate(180deg);
}


.swiper-slide .the-course .course-des .course-info{
display: flex;

padding: 1rem;
column-gap: 2rem;
}
.swiper-slide .the-course .course-des .course-info .recording{
color: var(--color-red);
}

.swiper-slide .the-course .course-des .course-info .rec-done{
color: var(--color-green);
}

.swiper-slide .the-course .course-des .course-info span{
display: flex;
justify-content: center;
align-items: center;
column-gap: 0.4rem;
font-size: 1.2rem;
font-weight: 800;
color: var(--color-light-gray);
}

.swiper-slide .the-course .course-des .register {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
font-size: 1.2rem;
font-weight: 800;
padding: 1rem;
}

.swiper-slide .the-course .course-des .register .registered{
color: var(--color-primary);
background-color: #5557dd40;
width: 100%;
text-align: center;
padding: 0.8rem 1.5rem;
border-radius: 1.5rem;
font-size: 1.4rem;
font-weight: 700;
}

.swiper-slide .the-course .course-des .register .course-price{
display: flex;
width: 50%;
font-weight: 700;
color: var(--color-primary);      
font-size: 1.6rem;
justify-content: center;
}

.swiper-slide .the-course .course-des .register .course-price  .off-price{
display: flex;
flex-direction: column;
align-items: center;
}
.swiper-slide .the-course .course-des .register .course-price  .off-price .main-pr{
text-decoration: line-through;
color: var(--color-light-gray);
font-size: 1.2rem;
}
.swiper-slide .the-course .course-des .register .course-price  .off-price .off-pr{
color: var(--color-primary);
font-size: 1.6rem;
font-weight: 700;
}


.swiper-rel {
position: relative;
height: 100%;
margin: 10px;
padding: 3.5rem 1rem;
overflow: hidden;
}

.swiper-container {
width: 100%;
height: 100%;
}
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
} 

.swiper-button-next  {
display: none;
}


.swiper-pagination-bullet-active{
padding-left: 1.5rem;
}


