
/*Start Hero*/
.hero {
    margin-top: 110px;
  }
  .hero .main-hero {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .hero .main-hero .hero_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 -10px;
    width: 35%;
    row-gap: 10px;
  }
  .hero .main-hero .hero_text h2 {
    font-weight: 900;
    font-size: 3.4rem;
  }
  
  .hero .main-hero .hero_text h3 {
    font-weight: 700;
    font-size: 1.75rem;
    color: var(--color-body);
  }


  .hero .main-hero .hero_text .lets {
    display: flex;
    width: 100%;
  }
  
  .lets .btn {
    display: block;
    padding: 10px 30px;
    width: 41%;
    text-align: center;
    font-size: 2rem;
    color: #fff;
}
.lets .btn:hover{
  background-color: var(--color-hover);
}
  
  .hero .main-hero .hero_img {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .hero .main-hero .hero_img .shade {
    height: 101px;
    position: relative;
    top: -70px;
  
    z-index: 999;
  
    background: linear-gradient(
      rgba(255, 255, 255, 0) 37%,
      rgb(244, 245, 247) 93%
    );
  }
  .hero .main-hero .hero_img img {
    z-index: 1;
    height: auto;
    width: 100%;
  }
  .hero .main-hero .hero_img svg {
    position: absolute;
  }
  @media screen and (max-width: 1420px) {
    .container-hero {
      transition: all 0.3s ease 0s;
      max-width: 996px;
      margin: 0 auto;
    }
  
    .hero .main-hero .hero_text {
      width: 70%;
    }
  }
  
  @media screen and (max-width: 1045px) {
    .hero .main-hero .hero_img {
      transition: all 0.3s ease 0s;
  
      width: 100%;
    }
  
    .hero .main-hero {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .hero .main-hero .hero_img {
      order: -1;
    }
    .container-hero {
      transition: all 0.3s ease 0s;
      max-width: 400px;
      margin: 0 auto;
    }
    .hero .main-hero .hero_text {
      width: 100%;
    }
  }
  
  /*End hero*/
  
  /* Start Count section*/
  .count-sec {
    display: flex;
    justify-content: space-evenly;
  }
  .count-sec .sec-count_item {
    height: 161px;
    width: 161px;
    border: 1px solid var(--color-primary);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .count-sec .sec-count_item .c-item_num {
    color: var(--color-primary);
    font-weight: 800;
    font-size: 3.2rem;
  }
  .count-sec .sec-count_item .c-item_text {
    color: var(--color-primary);
    font-weight: 800;
    font-size: 2rem;
  }
  
  /*End Count Section*/
  
  /*Start Course Slider*/
  .course-slider {
    width: 100%;
    margin: 11rem 0;
    position: relative;
  }
  
  .course-slider .swiper {
    width: 100%;
  }
  
  .course-slider .swiper-slide {
    display: flex;
    flex-direction: column;
    width: 300.183px;
    height: 540px;
    border-radius: 10px;
    justify-content: space-between;
    background-color: #ffffff;
  
    padding: 12px;
  }
  
  .course-slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .box-slider {
    width: 100%;
    background-color: var(--color-bgsec);
    padding: 7rem 2rem;
    border-radius: 1.3rem;
  }
  
  .course-slider .slider {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    column-gap: 2.5rem;
    row-gap: 2rem;
  }
  
  .slider .banner-slider {
    display: flex;
    align-items: center;
    width: 30%;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: end;
    position: relative;
  }
  
  .slider .banner-slider > img {
    opacity: 0.2;
    position: absolute;
    bottom: 19rem;
    width: 100%;
  
    right: 0;
    overflow: visible !important;
  }
  
  .slider .banner-slider h3 {
    font-size: 3.5rem;
    font-weight: 900;
  }
  
  .slider .banner-slider p {
    display: block;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
  }
  
  .slider .banner-slider a {
    background-color: var(--color-primary);
    color: #fff;
    padding: 1.3rem 2em;
    border-radius: 1rem;
    box-shadow: 0 4px 44px 0 #6e30e866;
  }
  .slider .banner-slider a:hover {
    background-color: var(--color-hover);
  }
  
  .mt-12 {
    margin-top: 3rem;
  }
  
  .bg-white {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
    transition-property: all;
    background-color: #fff;
    border-radius: 0.75rem;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .-mt-14 {
    margin-top: -3.5rem;
    margin-bottom: 1.5rem;
  }
  
  .img-course {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    box-shadow: 0 10px 14px #f1f5f9;
    border-radius: 15px;
  }
  
  .img-course img {
    width: 100%;
    height: 100%;
  
    border-radius: 15px;
  }
  
  .img-course .meta-img {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0.75rem;
  }
  
  .img-course .meta-img p {
    padding: 0.375rem;
    background-color: #fff;
    border: none;
    border-radius: 0.5rem;
    color: #000000;
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .img-course .meta-img p:hover {
    background-color: #ef4444;
    color: #fff;
  }
  
  .img-course .meta-img i {
    font-weight: 500;
    font-family: "Font Awesome 5 Pro";
  }
  
  .img-course .meta-img span {
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #fff;
    padding: 0.375rem;
    border-radius: 0.5rem;
  }
  
  .title-course {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 1rem;
  }
  
  .title-course a {
    color: #1f2937;
    font-weight: 700;
  }
  .title-course a:hover {
    color: var(--color-hover);
  }
  
  .meta-course {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.4rem;
    margin: 1.2rem -25px;
  }
  .meta-course .time-course {
    display: flex;
    align-items: center;
  }
  .meta-course .condition-course {
    display: flex;
    align-items: center;
  }
  .meta-course .condition-course {
    color: #a3e635;
    font-weight: 500;
  }
  
  .permalink-course {
    display: flex;
    align-items: center;
    margin: 0.5rem 1rem;
  }
  
  .permalink-course a {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .permalink-course a:hover {
    color: #64748b;
  }
  
  .price-register {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
  
    align-items: center;
  }
  
  .price-register .register-course a {
    background: var(--color-primary);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 44px 0 #6e30e866;
    transition: all 0.2s ease-in-out;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .price-register .register-course a:hover {
    background-color: var(--color-hover);
  }
  
  .price-register .price-course {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
  }
  
  .price-register .price-course del {
    color: #cbd5e1;
    font-weight: 300;
  }
  
  .price-register .price-course ins {
    text-decoration: none;
  }
  /*End Course Slider*/
  
  /*Start Services Box*/
  .services {
    width: 100%;
  }
  
  .services-title {
    width: 23%;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
  
  .services-title .services-icon {
    height: 70px;
    width: 70px;
  }
  
  .services-title svg {
    font-size: 5rem;
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: 20%;
    color: #fff;
}
  
  .services-title h5 {
    color: var(--color-headings);
    font-size: 3rem;
    font-weight: 800;
  }
  
  .services-body {
    width: 77%;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
  }
  
  .services-body .services-box {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: #fff;
    width: 31%;
    border-radius: 2rem;
    border: 1px solid #cbd5e1;
    transition: all 0.3s ease-in-out;
  }
  .services-body .services-box:hover {
    transform: scale(1.07) translateZ(0px);
  }
  
  .services-box .media {
    width: 100%;
    font-size: 5rem;
    text-align: center;
    color: var(--color-primary);
  }
  
  .services-box h6 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: var(--color-headings);
    font-weight: 600;
    margin: 1rem 0;
  }
  
  .services-box p {
    text-align: right;
    font-weight: 400;
  }
  /*End Services Box*/
  
  /*Start Customres Comment*/
  .customres {
    width: 100%;
    margin: 8rem 0;
  }
  
  .customres .cus-head {
    width: 29%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .customres .cus-head .media {
    text-align: center;
    height: 70px;
    width: 70px;
    font-size: 5rem;
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: 20%;
}
  
  .customres .cus-head h5 {
    color: var(--color-headings);
    font-size: 3rem;
    font-weight: 800;
  }
  
  .customres .cus-head p {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2.5rem 1rem 0;
  }
  
  .customres .swiper {
    width: 59rem;
    height: 34rem;
  }
  
  .customres .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: var(--color-headings);
    text-align: center;
    font-size: 18px;
    background: #fff;
    flex-wrap: wrap;
  }
  
  .customres .swiper-slide h3 {
    text-align: right;
    padding: 3rem;
    font-size: 1.6rem;
    font-weight: 900;
  }
  
  .customres .swiper-slide p {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-headings);
    text-align: right;
    padding: 0 2rem 1rem;
    height: 13rem;
    overflow-y: auto;
  }
  
  .border-customer {
    max-width: 70%;
    margin: 0.7rem auto;
    background-color: #e4e4e7;
    height: 0.2rem;
  }
  
  .customres .swiper-slide .box-cus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
  }
  
  .swiper-slide .box-cus .info-cus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 62%;
  }
  
  .swiper-slide .info-cus .gravatar-cus {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1.3px 43px 0px;
    border: 2px solid rgb(255, 255, 255);
    width: 6.5rem;
    height: auto;
  }
  
  .swiper-slide .info-cus .gravatar-cus img {
    max-width: 100%;
  }
  
  .swiper-slide .info-cus .detail-cus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 1rem;
  }
  
  .swiper-slide .detail-cus .name-cus {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  .swiper-slide .detail-cus .name-cus h6 {
    font-size: 1.6rem;
    font-weight: 800;
  }
  
  .swiper-slide .detail-cus .name-cus span.date-cus {
    color: #9597aa;
    font-weight: 300;
  }
  
  .swiper-slide .detail-cus span.course-cus {
    margin-top: 0.7rem;
    color: #9597aa;
    font-weight: 300;
  }
  
  .swiper-slide .detail-cus .course-cus {
  }
  
  .swiper-slide .box-cus .rate-cus {
    color: #f90;
  }
  
  /*End Customres Comment*/
  
  /*start radio box items*/
  .radio{
    width: 100%;
    margin: 3rem 0;
    padding: 2rem;
    background-color: #fff;
  }
  .radio_title {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 0.3rem;
}
.radio_title h5 {
  font-size: 1.8rem;
  font-weight: 750;
}
.radio_slide {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.radio_box {
  width: 300px;
  height: 255px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}
.radio_img img{
   width: 100%;
}
.radio_audio{
  text-align: center;
  width: 100%;
}
.radio_audio audio {
  width: 100%;
  height: 30px;
}
.radio_content {
  
}
.radio_content h3 {
  color: var(--color-body);
  padding: 1rem 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4rem;
  font-weight: 700;
}
.radio_detail {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.radio_detail .category {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 0.3rem;
}
.radio_detail span {
  font-size: 1.1rem;
  font-weight: 500;
}
  /*End Radio box */




















  
audio {
  width: 100%;
  height: 30px;
}
audio::-webkit-media-controls,
video::-webkit-media-controls {
  width: inherit;
  height: inherit;
  position: relative;
  direction: ltr;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
audio::-webkit-media-controls-enclosure, video::-webkit-media-controls-enclosure {
  width: 100%;
  max-width: 800px;
  height: 30px;
  flex-shrink: 0;
  bottom: 0;
  text-indent: 0;
  padding: 0;
  box-sizing: border-box;
}
video::-webkit-media-controls-enclosure {
  padding: 0px;
  height: 35px;
  flex-shrink: 0;
}
audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* We use flex-start here to ensure that the play button is visible even
   * if we are too small to show all controls.
   */
  justify-content: flex-start;
  -webkit-user-select: none;
  position: relative;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  text-align: right;
  bottom: auto;
  height: 30px;
  background-color:var(--color-white);
  border-radius: 1px;
  /* The duration is also specified in MediaControlElements.cpp and LayoutTests/media/media-controls.js */
  transition: opacity 0.3s;
}
video:-webkit-full-page-media {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
audio:-webkit-full-page-media, video:-webkit-full-page-media {
  max-height: 100%;
  max-width: 100%;
}
audio:-webkit-full-page-media::-webkit-media-controls-panel,
video:-webkit-full-page-media::-webkit-media-controls-panel {
  bottom: 0px;
}
audio::-webkit-media-controls-mute-button, video::-webkit-media-controls-mute-button {
  -webkit-appearance: media-mute-button;
  display: flex;
  flex: none;
  border: none;
  box-sizing: border-box;
  
  width: 35px;
  height: 30px;
  line-height: 30px;
  margin: 0 6px 0 0;
  padding: 0;
  background-color: initial;
  color: inherit;
}
audio::-webkit-media-controls-overlay-enclosure {
  display: none;
}
video::-webkit-media-controls-overlay-enclosure {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  max-width: 800px;
  text-indent: 0;
  box-sizing: border-box;
  overflow: hidden;
}
video::-webkit-media-controls-overlay-play-button {
  -webkit-appearance: media-overlay-play-button;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  color:#ef4444;
  margin-top: -40px;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  width: 80px;
  height: 80px;
  padding: 0;
}
audio::-webkit-media-controls-play-button, video::-webkit-media-controls-play-button {
  -webkit-appearance: media-play-button;
  display: flex;
  flex: none;
  border: none;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  line-height: 30px;

  margin-left: 9px;
  margin-right: 9px;
  padding: 0;
  background-color: initial;
  color: inherit;
}
audio::-webkit-media-controls-timeline-container, video::-webkit-media-controls-timeline-container {
  -webkit-appearance: media-controls-background;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1;

  color: #ef4444;
  -webkit-user-select: none;
  height: 16px;
  min-width: 0;
}
audio::-webkit-media-controls-current-time-display, video::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display, video::-webkit-media-controls-time-remaining-display {
  -webkit-appearance: media-current-time-display;
  -webkit-user-select: none;
  flex: none;
  display: flex;
  border: none;
  cursor: default;
  height: 30px;
  margin: 0 9px 0 0;
  padding: 0;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  color: var(--color-primary);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-decoration: none;
}
audio::-webkit-media-controls-timeline, video::-webkit-media-controls-timeline {
  -webkit-appearance: media-slider;
  display: flex;
  flex: 1 1 auto;
  height: 3px;
  margin: 0 1px 0 0;
  padding: 0;
  background-color: transparent;
  min-width: 50px;
  border: initial;
  color: initial;
}
audio::-webkit-media-controls-volume-slider, video::-webkit-media-controls-volume-slider {
  -webkit-appearance: media-volume-slider;
  display: flex;
  /* The 1.9 value was empirically chosen to match old-flexbox behaviour
   * and be aesthetically pleasing.
   */
  flex: 1 3 auto;
  height: 2px;
  max-width: 90px;
 
  padding: 15px;
  background-color: transparent;
  min-width: 30px;
  border: initial;
  color: initial;
}
/* FIXME these shouldn't use special pseudoShadowIds, but nicer rules.
 https://code.google.com/p/chromium/issues/detail?id=112508
 https://bugs.webkit.org/show_bug.cgi?id=62218
*/
input[type="range" i]::-webkit-media-slider-container {
  display: flex;
  align-items: center;
  flex-direction: row; /* This property is updated by C++ code. */
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 1px solid rgba(219, 9, 9, 0.854);
  border-radius: 4px;
  background-color: transparent; /* Background drawing is managed by C++ code to draw ranges. */
}
/* The negative right margin causes the track to overflow its container. */
input[type="range" i]::-webkit-media-slider-container > div {
  margin-right: -14px;
}
input[type="range" i]::-webkit-media-slider-thumb {
  margin-left: -7px;
  margin-right: -7px;
}
audio::-webkit-media-controls-fullscreen-button, video::-webkit-media-controls-fullscreen-button {
  -webkit-appearance: media-enter-fullscreen-button;
  display: flex;
  flex: none;
  border: none;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: -5px;
  margin-right: 9px;
  padding: 0;
  background-color: initial;
  color: inherit;
}
audio::-webkit-media-controls-toggle-closed-captions-button {
  display: none;
}
video::-webkit-media-controls-toggle-closed-captions-button {
  -webkit-appearance: media-toggle-closed-captions-button;
  display: flex;
  flex: none;
  border: none;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: -5px;
  margin-right: 9px;
  padding: 0;
  background-color: initial;
  color: inherit;
}
audio::-webkit-media-controls-fullscreen-volume-slider, video::-webkit-media-controls-fullscreen-volume-slider {
  display: none;
}
audio::-webkit-media-controls-fullscreen-volume-min-button, video::-webkit-media-controls-fullscreen-volume-min-button {
  display: none;
}
audio::-webkit-media-controls-fullscreen-volume-max-button, video::-webkit-media-controls-fullscreen-volume-max-button {
  display: none;
}