.single {
  width: 100%;
  margin-top: 19rem;
}
.single-flex {
  display: flex;
  justify-content: space-between;
}
.content {
  width: 75%;
  margin: 20px 0 20px 10px;
}
.main-single {
  background-color: #fff;
  width: 100%;
  padding: 1rem 2rem;
}
.main-single header {
  margin: 2rem 0;
}
.box-post-meta {
  display: flex;
  column-gap: 3rem;
  margin-top: 1.3rem;
}
.post-meta {
  align-items: center;
  display: flex;
  justify-items: center;
  column-gap: 0.5rem;
}
.post-meta span {
  color: #9496a9;
}
.post-thumbnail img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
  border-radius: 20px;
}
.content-single {
  font-size: 1.5rem;
  line-height: 2.2;
  margin: 2rem 0;
  overflow: hidden;
}


.post-navigation {
  margin: 3rem 0;
  padding: 2.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
}

.post-navigation .navig  a{
  display: flex;
  column-gap: 1rem;
}
.nav-back .icon{
  transform: rotate(180deg);
}

.nav-home .icon{
  width: 2.5rem;
  height: 2.5rem;

}


.author{
  width: 100%;
  display: flex;
  background-color: var(--color-white);
  column-gap: 2rem;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;

}
.author .author-img {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.author .author-img img {
  width: 100%;
  border-radius: 1.5rem;
}

.author .author-img span {
  width: 100%;
  border-radius: 1.5rem;
}


.sidebar {
  width: 30%;
  background-color: orange;
  margin: 20px 0;
  height: 30rem;
}
