.single {
  width: 100%;
  margin-top: 8rem;
}
.single-flex {
  display: flex;
  justify-content: space-between;
}
.content {
  width: 75%;
  margin: 20px 0 20px 10px;
}
.main-single {
  background-color: #fff;
  width: 100%;
  padding: 1rem 2rem;
}
.main-single header {
  margin: 2rem 0;
}
.box-post-meta {
  display: flex;
  column-gap: 3rem;
  margin-top: 1.3rem;
}
.post-meta {
  align-items: center;
  display: flex;
  justify-items: center;
  column-gap: 0.5rem;
}
.post-meta span {
  color: #9496a9;
}
.post-meta a:hover {
  color: var(--color-hover);
}
.post-thumbnail img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
  border-radius: 20px;
}
.content-single {
  font-size: 1.5rem;
  line-height: 2.2;
  margin: 2rem 0;
  overflow: hidden;
  color: #555775;
  font-weight: 400;
}

.post-navigation {
  margin: 3rem 0;
  padding: 2.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
}
.nav-flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.post_navigatio .col-5 {
  flex: 0 0 auto;
  width: 39%;
}
.post_navigatio .col-2 {
  flex: 0 0 auto;
  width: 18%;
}

.post-navigation .navig a {
  display: flex;
  column-gap: 1rem;
}
.nav-back .icon {
  transform: rotate(180deg);
}

.nav-home .icon {
  width: 2.5rem;
  height: 2.5rem;
}

.author {
  width: 100%;
  display: flex;
  background-color: var(--color-white);
  column-gap: 2rem;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;
}
.author .author-img {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.author .author-img img {
  width: 100%;
  border-radius: 1.5rem;
}

.author .author-img span {
  width: 100%;
  text-align: center;
  border-radius: 1.5rem;
  font-size: 1.6rem;
  margin-top: 0.5rem;
  font-weight: 500;
}
.author-des p {
  font-size: 1.4rem;
  color: #64748b;
  line-height: 1.9;
}
