.login_page {
  width: 100%;
  margin-top: 8rem;
}
.form-box {
  max-width: 575px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 2.2rem 2rem 4.4rem;
  box-shadow: 0 3px 16px rgba(51, 51, 51, 0.1);
  position: relative;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .form-box {
    padding: 3.7rem 6rem 6.4rem;
  }
}
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 400px;
  background: #fdfdfd;
}
.form .head {
  width: 100%;
  height: 55px;
  display: flex;
}
.form .head > div {
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: 15px;
}
.form .head.signup > div:nth-child(1),
.form .head > div:nth-child(2) {
  background: #eee;
}
.form .head.signup > div:nth-child(2) {
  background: transparent !important;
}

.form .body {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.form .body > div {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
}
.form .body > div.login {
  left: 0%;
}
.form .body > div.signup {
  left: 100%;
}
.form .body.active > div.login {
  left: -100%;
}
.form .body.active > div.signup {
  left: 0%;
}
.form .body .form-row {
  border-top: 1px solid #ccc;
}
.form .body .form-row label {
  display: block;
  padding: 12px 10px 0px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.form .body .form-row input {
  width: 100%;
  border: none;
  outline: none;
  height: 32px;
  text-indent: 10px;
  font-size: 14px;
}
.form .body .form-row button {
  width: 100%;
  border: none;
  outline: none;
  height: 45px;
  background: #3399ff;
  text-transform: uppercase;
  color: #fcfcfc;
  font-size: 16px;
  cursor: pointer;
}
.form .body .signup .form-row button {
  background: #0f2d41;
}
.form .body .rem-row {
  padding: 10px;
  border-top: 1px solid #ccc;
  line-height: 30px;
}
.form .body .rem-row > input {
  width: 17px;
  height: 17px;
  border: 1px solid #999;
  border-radius: 0px;
  position: relative;
  top: 3px;
}
.form .body .rem-row > label {
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
}
.form .body .row {
  text-align: center;
  padding: 8px 0px;
}
.form .body .row span {
  font-size: 14px;
  position: relative;
  color: #222;
  top: 5px;
  font-weight: 600;
}
.form .body .footer {
  position: absolute;
  bottom: 50px;
  width: 100%;
  border-top: 1px solid #ccc;
}
.form .body .footer > div.social-form {
  float: left;
  padding-left: 50px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-indent: 2%;
  color: #fcfcfc;
  position: relative;
  font-size: 14px;
  cursor: pointer;
}
.form .body .footer i {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}
.form .body .footer .fb {
  background: #3b5998;
}
.form .body .footer .google {
  background: tomato;
}
