.sidebar {
  width: 30%;
  margin: 20px 0;
}
.sidebar .widget:first-child {
  border: none;
  margin: 0;
  padding: 0;
}
.sidebar .widget {
  margin-top: 20px;
  padding: 2rem;
  background-color: #fff;
}
.search_form form {
  position: relative;
}
.form-control {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 1.5rem;
  color: #55577c;
  background-color: #fff;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search_form .icon_search {
  position: absolute;
  left: 8px;
  top: 0;
  background-color: transparent;
  border: none;
  padding: 1.2rem;
}
.search_form .icon_search .icon-large {
  width: 2.5rem;
  height: 2.5rem;
}
.widget .widget-title {
  font-size: 1.5rem;
  margin-bottom: 25px;
}
.widget_recent_post li {
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
}
.recent_post_main {
  display: flex;
  column-gap: 2rem;
}
.recent_post_main .post_img {
  width: 38%;
}
.recent_post_main .post_img img {
  border-radius: 10px;
  width: 100%;
}
.recent_post_main .post_content {
  width: 59%;
}
.post_content h6 {
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post_content h6 a:hover {
  margin-right: 0.5rem;
  color: var(--color-primary);
}
.post_content p {
  font-size: 1.1rem;
  color: #9b9eae;
}
.widget_img a {
  display: block;
  width: 100%;
}
.widget_img a img {
  width: 100%;
}
.widget .social {
  display: flex;
  column-gap: 2rem;
}
.widget .icon-large {
  width: 2.5rem;
  height: 2.5rem;
}
.widget .social li {
  transition: all 0.3s ease-in-out;
}
.widget .social li:hover {
  transform: scale(1.2);
}
