@font-face {
  font-family: 'iranyekan';
  font-style: normal;
  src: url('/assets/fonts/woff/YekanBakh-Thin.woff') format('woff'),
  url('/assets/fonts/woff2/YekanBakh-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'iranyekan';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/woff/YekanBakh-Light.woff') format('woff')
  , url('/assets/fonts/woff2/YekanBakh-Light.woff2') format('woff2'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: 'iranyekan';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/woff/YekanBakh-Regular.woff') format('woff')
  , url('/assets/fonts/woff2/YekanBakh-Regular.woff2') format('woff2'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: 'iranyekan';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/woff/YekanBakh-SemiBold.woff') format('woff')
  , url('/assets/fonts/woff2/YekanBakh-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'iranyekan';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/woff/YekanBakh-Regular.woff') format('woff')
  , url('/assets/fonts/woff2/YekanBakh-Regular.woff2') format('woff2'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: 'iranyekan';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/woff/YekanBakh-Bold.woff') format('woff')
  , url('/assets/fonts/woff2/YekanBakh-Bold.woff2') format('woff2'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: 'iranyekan';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/woff/YekanBakh-ExtraBold.woff') format('woff')
  , url('/assets/fonts/woff2/YekanBakh-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'iranyekan';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/woff/YekanBakh-Black.woff') format('woff')
  , url('/assets/fonts/woff2/YekanBakh-Black.woff2') format('woff2');
}


@font-face {
  font-family: 'iranyekan';
  font-style: normal;
  font-weight: 900;
  src: url('<?php echo get_template_directory_uri() .'/assets/fonts/woff/YekanBakh-ExtraBlack.woff' ?>') format('woff')
  , url('/assets/fonts/woff2/YekanBakh-ExtraBlack.woff2') format('woff2');
}



* {
  font-family: 'iranyekan' !important;
}
