
footer{
  display: flex;
  flex-direction: column;
  }
  
  
  
  .top-footer {
  display: flex;
  column-gap: 15rem;
  width: 100%;
  padding: 3rem 0;
  }
  
  
  .top-footer .social-footer {
  width: 80%;
    }
    
  
  
  
  
  
      .top-footer .social-back {
          width: 100%;
          gap: 65px;
          z-index: 0;
          display: flex;
          position: relative;
          border-radius: 32px;
          align-items: center;
          padding: 24px 50px 24px 50px;
          justify-content: space-between;
          background: linear-gradient(161.9deg, #202020 12.32%, #3a3a3a 95.74%);
        }
        
        .top-footer .social-back  .title {
          position: relative;
          z-index: 1;
        }
     
  
  
        .top-footer .social-back .title h4 {
          font-weight: 950;
          font-size: 20px;
          line-height: 34px;
          color: #fff;
        }
        
        .top-footer .social-back .title h4 span {
          color: var(--color-primary);
        }
        
        .top-footer .social-back .title p {
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
          color: #fff;
          align-items: center;
          display: flex;
          margin-top: 0.5rem;
        }
        
        .top-footer .social-back .title i {
          margin-right: 1.2rem;
          color: #fff;
          font-size: 1.6rem;
        }
        
        .top-footer .social-back .social {
          display: flex;
          gap: 16px;
          position: relative;
        }
        
    
        
        .top-footer .social-back .social a {
          box-shadow: 0px 6px 24px #66666624;
          border-radius: 100px;
          display: inline-block;
          width: 58px;
          height: 58px;
          line-height: 87px;
          text-align: center;
          transition: 0.3s all;
          position: relative;
        }
        .top-footer .social-back .social a:hover {
          box-shadow: 0px 6px 24px rgba(92, 175, 33, 0.24);
        }
        .top-footer .social-back  .social a:hover g {
          opacity: 1;
        }
        .top-footer .social-back  .social a:hover path {
          stroke: #fff;
        }
        
        .top-footer .social-back  .social a svg {
          position: relative;
          z-index: 4;
        }
        
        .top-footer .social-back  .social a span {
          top: 0;
          right: 0;
          height: 100%;
          width: 100%;
          position: absolute;
          transition: 0.3s all;
          border-radius: 50px;
        }
        
        .top-footer .social-back .social a span.bg-gray {
          background: #666;
          z-index: 2;
        }
        
        .top-footer .social-back .social a span.bg-gradiant {
          z-index: 3;
          opacity: 0;
          transition: 0.3s all;
          background-color: var(--color-primary);
        }
        .top-footer .social-back .social a:hover span.bg-gradiant {
          opacity: 1;
        }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .top-footer .social-icon{
  
  display: flex;
  justify-content: space-between;
  }
  
  
  .top-footer .email-footer  {
  display: flex;
  width: 45%;
  flex-direction: column;
  }
  
  .top-footer .email-footer  p {
  font-weight: 400;
  color: #2f2f2f;
  font-size: 1.5rem;
  }
  
  .top-footer .email-footer  form {
  position: relative;
  margin-top: 1.2rem;
  }
  
  .top-footer .email-footer  input {
  width: 100%;
  border: 0;
  padding: 18px;
  border-radius: 50px;
  text-align: right;
  font-weight: 300;
  direction: ltr;
  font-family: "iranyekan";
  font-size: 1.7rem;
  }
  
  .top-footer .email-footer  button {
  position: absolute;
  background: var(--color-primary);
  border-radius: 100%;
  left: 0.9rem;
  top: 0.8rem;
  cursor: pointer;
  line-height: 0;
  border: 1px solid transparent;
  padding: 0.8rem 0.8rem;
  }
  .btn-danger:hover {
  color: #fff;
  background-color: var(--color-hover);
  border-color: var(--color-hover);
  }
  .top-footer .email-footer  .media{
  width: 2.8rem;
  height: 2.8rem
  }
  
  
  
  
  
  
  
  
  
  
  .mid-footer {
  padding-bottom: 3.8rem;
  display: flex;
  width: 100%;
  border-top: 2px dashed #ddd;
  padding: 3rem 0;
  }
  
  .mid-footer  .item{
  width: 25%;
  }
  
  
  
  
  
  
  
  
  
  .mid-footer .widget-footer-1 {
  width: 30%;
  margin-left: 4.2rem;
  }
  
  .mid-footer .widget-footer-1 article.article-full {
  height: auto !important;
  overflow: visible !important;
  transition: 0.4s all;
  -o-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -webkit-transition: 0.4s all;
  margin-bottom: 0px;
  }
  .mid-footer .widget-footer-1 article::before {
  content: "";
  background-image: url(/assets/images/dots-right.webp);
  background-repeat: no-repeat;
  width: 74px;
  height: 44px;
  display: inline-block;
  right: -20px;
  position: absolute;
  top: -7px;
  z-index: -1;
  background-size: contain;
  }
  
  .mid-footer .widget-footer-1 article p {
  text-align: justify;
  font-weight: 500;
  font-size: 15px;
  line-height: 32px;
  }
  
  .mid-footer .widget-footer-2 {
  width: 13%;
  margin-left: 2.2rem;
  }
  
  .mid-footer ul li {
  margin-bottom: 2rem;
  }
  
  .mid-footer ul li a {
  display: flex;
  font-weight: 500;
  align-items: center;
  color: var(--color-headings);
  }
  .mid-footer ul li a:hover {
  color: var(--color-primary);
  }
  .mid-footer ul li a::before {
  content: "";
  border: 0.3rem solid #fff;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background: #00000012;
  outline: 0.2rem solid #00000012;
  border-radius: 50%;
  margin-left: 1rem;
  transition: 0.3s all;
  }
  .mid-footer ul li a:hover::before {
  background: var(--color-primary);
  outline-color: var(--color-white);
  }
  
  .mid-footer .widget-footer-3 {
  width: 13%;
  margin-left: 6.8rem;
  }
  
  .mid-footer .widget-footer-4 {
  width: 34%;
  }
  
  .mid-footer .widget-footer-4 a {
  color: var(--color-headings);
  }
  
  .mid-footer .widget-footer-4 img {
  max-width: 100%;
  border-radius: 1.5rem;
  }
  
  
  .down-footer{
    background: linear-gradient(161.9deg, #202020 12.32%, #3a3a3a 95.74%);
  width: 100%;
  
  }
  .down-footer .d-foot{
    padding: 3rem 0;
    color: var(--color-white);
  width: 100%;
  display: flex;
  justify-content: space-between;
  }
  
  .down-footer .d-foot .webdesigner {
    position: relative;
  }
  .down-footer .d-foot .webdesigner > span{
    margin-left: 8rem;
  
    
  }
  
  .down-footer .d-foot .webdesigner #scrollUp {
    left: -2rem;
    gap: 1rem;
    color: #fff;
    bottom: 0;
    height: 5.8rem;
    width: 11.7rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    border-radius: 0 2rem 2rem 0;
    position: absolute !important;
    box-shadow: 0.8rem 1.2rem 2.4rem rgba(92, 175, 33, 0.16);
    background: linear-gradient(
      161.9deg,
      var(--color-primary) 12.32%,
      var(--color-primary) 95.74%
    );
    z-index: 998;
  }
  
  .down-footer .d-foot .webdesigner #scrollUp svg {
    transform: rotate(90deg);
  }
  
  