.top-head {
  background-color: var(--color-primary);
}
.top-head .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sticky-head {
  background-color: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 999;
}


.sticky-head .sticky {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  transition: all 300ms ease;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}
.top-head .menu-top {
  display: flex;
  flex-direction: row;
}
.top-head .menu-top ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  margin: 0 0.3rem 0 1.5rem;
}

.top-head .menu-top ul li a {
  color: var(--color-white);
}
.top-head .menu-top ul li a:hover {
  color: coral;
}
.top-head .contact-me {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sticky-head .nav-logo {
  position: absolute;
  top:1rem;
}


.nav-logo #progress{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
 display: grid;
 place-items: center;
  
}
.nav-logo .progress-value{
  display: block;
  height: auto;
  max-width: 90%;
  border-radius: 50%;
  place-items: center;
}

.top-head .contact-me span {
  color: var(--color-white);
}

.sticky-head .navbar {
  display: flex;
  flex-direction: row;
}

.navbar {
  width: 65%;
  margin-right: 17rem;
}

.navbar ul > li {
  float: right;
  margin-left: 1rem;
}

.navbar ul > li > a {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.8rem;
  color: #626c7c;
  font-weight: 700;
  transition: all 0.3s ease-in;
}

.navbar ul li a:hover {
  color: var(--color-hover);
}

.sticky-head .login {
  display: flex;
  flex-direction: row;

  position: sticky;
  top: 0;
}

.sticky-head .login a {
  color: var(--color-gray);
  transition: all 0.2s ease-in-out;
  margin-right: 20px;
}

.sticky-head .login a:hover {
  color: var(--color-hover);
  transform: scale(1.05) translateZ(0px);
}

.sticky-head.login i {
  font-size: 1.7rem;
}
.sticky-head .login i span {
  display: inline-block;
  margin-right: 0.3rem;
  font-family: "iranyekan";
  font-size: 1.4rem;
  font-weight: 400;
}






/*header*/

.humber-menu{
  width: 70%;
  padding: 1rem ;
  display: flex;
  flex-direction: column;
justify-content: space-between;
z-index: 999;
flex-wrap: wrap;
position: absolute;
top:0.5rem;

}





.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--color-white);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--color-primary);
  display: block;
  transition: 0.3s;
}


.sidenav .nav-item:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.sidenav .closebtn:hover {
  color: var(--color-hover);
}
.sidenav .closebtn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -65px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.nav__toggler{
  cursor: pointer;
 width: 3rem;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--color-primary);
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}




















.nav__list{
 
  margin-top: 1rem;
  width: 90%;
  height:100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  max-height: 0;
  overflow: hidden;
opacity: 0;
transition: all 0.4s ease-out;
background-color: #fff;

}

.humber-menu.nav__expanded .nav__list{
 max-height: 100vh;
 opacity: 1;

}
.humber-menu.nav__expanded{
  background-color: #fff;

}

.nav__item{
  margin-bottom: 1rem;
  border-bottom: 1px solid #444;

}
.nav__item > a {
  padding-bottom: 1rem;
text-decoration: none;
color: #444;
display: block;
padding: 0.5rem;
}

.nav__item > a:hover{
  color: var(--color-primary);

}


.nav__item.cta {
font-size: 1.4rem;
border:0;
}

.nav__item.cta a{
  color: #fff;
  font-size: 1.4rem;
  
  }

/*Toggler*/

.nav__toggler{
  cursor: pointer;
 width: 3rem;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--color-primary);
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}

.humber-menu.nav__expanded .bar-one{
transform: rotate(-45deg) translate(-6px,5px);

}
.humber-menu.nav__expanded .bar-two{
  opacity: 0;
  transform: translateX(-20px);
  
}
.humber-menu.nav__expanded .bar-three{
  transform: rotate(45deg) translate(-6px,-5px);
 
}