/*Start course product style*/

.main-course {
  width: 100%;
  margin-top: 10rem;
}

.main-course .broadcamp {
  color: #000;
  margin: 10px;
}

.main-course .broadcamp .broadcamp-path {
  background-color: var(--color-white);
  color: var(--color-gray);
  border-radius: 15px;
  box-shadow: 1px 1px 50px #2a1a8131;
  padding: 10px 30px;
}

.main-course .broadcamp .broadcamp-active {
  font-weight: 400;
  color: var(--color-primary);
}

.main-course .course {
  color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-course .course .course-head {
  background-color: var(--color-white);
  margin: 10px;
  color: var(--color-body);
  border-radius: 15px;
  box-shadow: 1px 1px 50px #2a1a8131;

  padding: 30px;
  display: flex;
}

.main-course .course .course-head .course-short__des {
  width: 65%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.course-short__des h1 {
  font-size: 2.2rem;
  font-weight: 800;
}
.main-course .course .course-head .course-short__des .des-register {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-course .course .course-head .course-short__des .stuck-reg {
  color: #9496a9;
  font-weight: 500;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price .main-price {
  font-size: 1.1em;
  text-decoration: line-through;
  color: var(--color-gray);
}

.price .off-price {
  font-size: 2.3rem;
  font-weight: 800;
  color: var(--color-primary);
}

.main-course .course .course-head .course-short__des p {
  font-size: 1.4rem;
  color: #9496a9;
}
.main-course .course .course-head .course-thumbnail {
  display: flex;
  flex-direction: column;
  width: 35%;
  align-items: center;
}
.main-course .course .course-head .course-thumbnail video {
  height: 256px;
  width: 100%;
  border-radius: 15px;
}

.main-course .course .course-head .course-thumbnail .course-icon {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: 20px 0;
}
.icon-item {
  transition: all 0.2s ease-in-out;
}
.icon-item:hover {
  transform: scale(1.07) translateZ(0px);
}
.main-course
  .course
  .course-head
  .course-thumbnail
  .course-icon
  .icon-item
  .sec-count_item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.main-course
  .course
  .course-head
  .course-thumbnail
  .course-icon
  .icon-item
  .sec-count_item
  .c-item_num {
  font-weight: 500;
}
.main-course .course .course-down {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-course .course .course-down .course-session {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 50px var(--color-shadow);
  background-color: var(--color-white);
  color: var(--color-primary);
}
.main-course .course .course-down .course-session h3 {
  align-self: flex-start;
  padding: 10px 10px;
}

.main-course .course .course-down .st-comment {
  background-color: var(--color-white);
  color: var(--color-primary);
  border-radius: 15px;
  box-shadow: 1px 1px 50px var(--color-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px 15px;
}

.main-course .course .course-down .st-comment .top {
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.main-course .course .course-down .st-comment .comments {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.main-course .course .course-down .st-comment .comments .box-comment {
  width: 45%;
  height: 345px;
  background-color: var(--color-white);
  color: var(--color-primary);
  border-radius: 15px;
  box-shadow: 1px 1px 50px var(--color-shadow);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 30px;
}

.main-course
  .course
  .course-down
  .st-comment
  .comments
  .box-comment
  .comment-content {
  overflow: scroll;
  overflow-x: hidden;
  font-size: 1.4rem;
  padding: 10px;
  margin-bottom: 20px;
}
.main-course
  .course
  .course-down
  .st-comment
  .comments
  .box-comment
  .comment-content
  p {
  font-size: 1.3rem;
  padding-left: 20px;
}
.comment-content .comment-point {
  display: flex;
  flex-direction: column;
}
.suggest .suggest-type {
  color: var(--color-primary);
  color: #11c47c;
  padding: 10px;
  font-weight: 700;
}
.box-comment .comment-title {
  color: var(--color-primary);
  padding: 10px 10px;
  font-weight: 700;
}
.box-comment .comment-info {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #726f6f0c;
  padding: 15px 5px;
  align-items: center;
  justify-content: space-between;
}
.comment-info .avatar {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 2px solid var(--color-white);
  box-shadow: 2px 2px 10px var(--color-shadow);
}
.comment-info .user-info {
  display: flex;
  flex-direction: column;
}
.user-info .comment-name {
  font-weight: 700;
}
.user-info .comment-course {
  font-weight: 400;
  color: rgb(148 150 169);
  font-size: 1.2rem;
}
.comment-info .comment-star {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.main-course .course .course-down .course-content {
  width: 75%;
  margin: 10px;
}

.main-course .course .course-down .course-content .course-des {
  background-color: var(--color-white);
  padding: 30px;
  color: var(--color-shadow);
  border-radius: 15px;
  box-shadow: 1px 1px 50px var(--color-shadow);
  margin-bottom: 10px;
  position: relative;
}
.main-course .course .course-down .course-content .course-des h2 {
  margin-bottom: 1rem;
}
.main-course .course .course-down .course-content .course-des p {
  font-size: 1.43rem;
}

/*sidebar*/
.course-side {
  width: 25%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.course-side .side-info {
  position: sticky;
  z-index: 999;
  top: 7rem;
}
.course-side .course-side_item {
  background-color: var(--color-white);
  box-shadow: 1px 1px 50px var(--color-shadow);
  margin: 10px 0;
  height: 70px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  margin-bottom: 50px;
}
.course-side .course-side_item a {
  padding: 1rem;
  font-weight: 500;
}
.course-side .course-side_item a:hover {
  color: var(--color-primary);
  font-weight: 700;

  border-bottom: 2px solid var(--color-primary);
}

.course-side .side-teacher {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  color: var(--color-shadow);
  border-radius: 15px;
  box-shadow: 1px 1px 50px #2a1a8131;
  padding: 5px 30px;
  justify-content: space-around;
}
.course-side .side-teacher p {
  font-size: 1.3rem;
  color: #9193b2;
}

.course-side .side-teacher img {
  height: 100px;
  width: 100px;
  position: relative;
  top: -40px;
  border-radius: 100%;
  border: 5px solid var(--color-primary);
}

/* end course product style*/
/* Start Fade text and content*/
#fade {
  display: none;
}
.btn-container {
  margin: 1rem auto;
}
.fade-button {
  border: 1px solid var(--color-primary);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  border: none;
  padding: 8px 21px 8px 10px;
  font-size: 14px;
  box-sizing: border-box;
  position: relative;
}
.fade-button .icon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 30%;
  right: 4px;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  width: 100%;
  position: relative;
  top: -20px;
  border-radius: 0px 0px 15px 15px;
}

.panel .p-content {
  border-right: 2px solid #726f6f41;
  padding-right: 15px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 3rem;
  color: var(--color-body);
  margin: 20px;
}
.panel .p-content .course-session_sub:first-child {
  margin: 0;
}
.panel .p-content .course-session_sub {
  border: 1px solid #726f6f41;
  border-radius: 15px;
  padding: 20px;
  margin: 10px 0;
}

.accordion .accordion-title {
  display: flex;
  justify-content: space-between;
}

.accordion .accordion-title .ss-count {
  display: flex;
  background-color: var(--color-primary);
  color: var(--color-white);
  align-items: center;
  column-gap: 5px;
  padding: 5px 5px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.active .ss-ic {
  transform: rotate(-90deg);
  transition: all 0.2s ease-out;
}
.accordion .accordion-title .ss-title {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.ss-img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 1.2rem;
}

.tg-ic_Hide {
  visibility: hidden;
}
.tg-ic .tg-ic_Hide {
  visibility: visible;
}
.tg-ic .tg-ic_Show {
  visibility: hidden;
}
.course-session_sub .sub-top {
  display: flex;
  justify-content: space-between;
}
.course-session_sub .sub-top .session-info {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.course-session_sub .sub-top .session-info .preview {
  background-color: var(--color-red);
  color: var(--color-white);
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 1px 8px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.course-session_sub .sub-top .session-info .session-time {
  border: 1px solid var(--color-primary);
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 0 8px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.course-session_sub .sub-down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.course-session_sub .sub-down .down-show {
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 1px 8px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.course-session_sub .sub-down .down-show_border {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 1px 8px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.course-session_sub .sub-down .down-dl {
  display: flex;
  column-gap: 10px;
  flex-direction: row-reverse;
}
.course-session_sub .sub-down .down-dl .dl-video {
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 1px 8px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.course-session_sub .sub-down .down-dl .dl-file {
  background-color: var(--color-green);
  color: var(--color-white);
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 1px 8px;
  border-radius: 10px;
  font-size: 1.2rem;
}
.course-session_sub .sub-top .session-name {
}
.hidden {
  transition: 0.4s;
  display: none;
}
/* End Fade text and content*/

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  border-radius: 15px;
  box-shadow: 1px 1px 50px var(--color-shadow);
  background-color: var(--color-white);
  color: var(--color-primary);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: right;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: var(--color-white);
  transition: all 0.5 ease-in-out;
}

/* popup comment */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}
.wrapper {
  margin: 150px auto;
  padding: 20px;
  background: #e7e7e7;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.wrapper h2 {
  margin-top: 50;
  color: var(--color-primary);
  font-size: 1.8rem;
}
.wrapper .close {
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.wrapper .close:hover {
  color: var(--color-primary);
}
.wrapper .content {
  max-height: 30%;
  overflow: auto;
}
/*form*/

.container-popup {
  border-radius: 5px;
  background-color: #e7e7e7;
  padding: 20px 0;
}

/*Down price fixed*/

.d-price-fixed {
  width: 100%;
  background-color: var(--color-white);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 8px 0;
  align-items: center;
  z-index: 999;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px -10px 30px rgba(75, 75, 75, 0.15);
}

.d-price-fixed h2 {
  font-size: 2.2rem;
  font-weight: 800;
}

.d-price-fixed .btn {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 15px 20px;
}

.fade-in-text {
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  width: 100%;
  height: 16rem;
  --tw-gradient-from: #fff;
  --tw-gradient-to: hsla(0, 0%, 100%, 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  .via-white\/70 {
    --tw-gradient-to: hsla(0, 0%, 100%, 0);
    --tw-gradient-stops: var(--tw-gradient-from), hsla(0, 0%, 100%, 0.7),
      var(--tw-gradient-to);
  }
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

/* Comment Reviews */
.qa-comment .comments {
  width: 100%;
  padding: 1rem;
  margin-top: 3rem;
  background-color: #fff;
}
.qa-comment .comment_title {
  font-size: 2.2rem;
  margin: 1rem 0 0 1rem;
}
.qa-comment ul.comment_list li {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  padding: 1rem 2rem;
  background-color: #fff;
  border: 1px solid #e4e4e7;
  border-radius: 14px;
  margin-top: 3.5rem;
  position: relative;
}
.qa-comment .comment_img {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px dashed #a1a1aa;
  margin-bottom: 1rem;
}
.qa-comment .comment_img img {
  width: 7%;
  border-radius: 50%;
}
.qa-comment .comment_img .customer_meta {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.qa-comment .customer_meta .name_author {
  font-size: 1.4rem;
  display: block;
  width: 100%;
}
.qa-comment .customer_meta .comment_date {
  font-size: 1.1rem;
  color: #9496a9;
}
.qa-comment span.reply {
  width: 8%;
  margin-top: 1.5rem;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  transition: all 0.2s ease-in;
}
.qa-comment span.reply:hover {
  transform: scale(1.1);
}
.qa-comment .comment_content {
  width: 100%;
}
.qa-comment .comment_content p {
  width: 100%;
  font-size: 1.24rem;
  color: #555775;
}
.qa-comment ul.comment_list li.depth-2 {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  background-color: #f5f5f5;
  margin: 0.7rem 2rem 0 0;
}
.qa-comment ul.comment_list li.depth-3 {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  background-color: #d4d4d8;
  margin: 0.7rem 4rem 0 0;
}

.qa-comment ul.comment_list li.depth-2::before {
  content: "";
  display: block;
  height: 3px;
  position: relative;
  right: -35px;
  top: 75px;
  width: 15px;
  background-color: #efefef;
  z-index: 10;
}

.qa-comment ul.comment_list li.depth-2 .comment_img::before {
  content: "";
  display: block;
  height: 57%;
  position: absolute;
  right: -15px;
  top: -9px;
  width: 3px;
  background-color: rgb(239, 239, 239);
}

.qa-comment ul.comment_list li.depth-3::before {
  content: "";
  display: block;
  height: 59%;
  position: absolute;
  right: -15px;
  top: -10px;
  width: 3px;
  background-color: #efefef;
}
.qa-comment ul.comment_list li.depth-3 .comment_img::before {
  content: "";
  display: block;
  height: 3px;
  position: relative;
  right: -35px;
  top: 75px;
  width: 15px;
  background-color: #efefef;
  z-index: 10;
}

/* Comment Forms */
.qa-comment .form_comment {
  width: 100%;
  padding: 2rem;
  margin-top: 3rem;
}
