/*Panel head*/

.panel-head {
    background-color: var(--color-white);
    width: 100%;
    height: 60px;
    position: sticky;
    box-shadow: 0 0 0.5rem #d1d5db;
    top: 0;
    width: 100%;
    display: flex;
    padding: 0.5rem 1rem;
  }

  .panel-head .nav-logo {
    display: flex   ;
    align-items: center ;
    column-gap: 1rem
       }
       .panel-head .nav-logo h2 {
     font-size: 1.8rem;
     font-weight: 800;
    
           }
      
      .panel-head .nav-logo img {
        padding: ;
        width:auto;
        height: 100%;
        border-radius: 100%;
        border: 3px solid var(--color-primary);
    
      }
      


/*Panel side*/
  
  .panel-side {
    background-color: var(--color-white);
    height: 100vh;
    width: 235px;
    box-shadow: 0 0 0.5rem #d1d5db;
  }

  .panel-side .panel-menu {
    display:flex ;
    flex-direction: column;

 padding: 0.5rem;
  }

   .panel-side .panel-menu  .menu-item {
    display: flex;
    column-gap: 0.5rem;
    padding:1rem 2rem;
    align-items: center;
   }
   .panel-side .panel-menu  .menu-item:hover  {
    box-shadow: 0 0 0.5rem #d1d5db;

    border-radius: 1.5rem;
    color: var(--color-white);
   }
   
   .panel-side .panel-menu  .menu-item a {
color: var(--color-light-gray);
font-weight: 600;
   }
   .panel-side .panel-menu  .menu-item a:hover {
    color: var(--color-primary);
    font-weight: 600;
       }
   .icon-panel{
    width: 2rem;
    height: 2rem;
   }
 

  